/*Оформление модального окна*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
.modal {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  background-color: var(--primary-background-color);
  transition: transform 250ms var(--cubic-transition);
  padding: 40px 32px 29px 48px;
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1600px) {
    width: 528px;
  }
}
.form-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}
.close-button {
  position: absolute;
  content: '';
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
  transition: color 250ms var(--cubic-transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.closing-cross {
  fill: currentColor;
  background-size: contain;
  position: absolute;
  left: 9px;
  top: 9px;
}
.input-field {
  position: relative;
}
.form-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0 12px 42px;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms var(--cubic-transition);
  &:focus {
    border-color: var(--accent-color);
  }
}
.label-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic-transition);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}
.text-input {
  resize: none;
  outline: none;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms var(--cubic-transition);
  font-size: 16px;
  &:focus {
    border-color: var(--accent-color);
  }
}
textarea::placeholder {
  color:rgba(117, 117, 117, 0.5);
  font-size: 14px;
  letter-spacing: 0.01em;
}
.agreement {
  display: inline-block;
  margin-bottom: 30px;
}
.agreement-text {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
    
  }
}
.agreement-checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreement-checkbox:focus + .agreement-text::before {
  outline: 2px solid var(--title-text-color);
}
.agreement-checkbox:checked + .agreement-text::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url('../images/icon-tick.svg');
  background-size: contain;
  background-origin: border-box;
}
.agreement-link {
  margin-left: 5px;
  text-decoration: underline;
  color: var(--accent-color);
}
